/* styles */

.form-control {
  margin-bottom: 3px;
}

a {
  color: #3b5998;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  background: #f1f1f1;
  color: black;
}

.fa {
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  text-align: right;
  float: right;
}

.fa:hover {
  color: darkblue;
}